body {
  background-image: url('../img/LTandTyler93.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  font-family: 'Source Code Pro';
  font-weight: 300;
}

#nav-mountain {
  display: inline;
  max-height: 100%;
  margin-bottom: 5px;
}

.navbar-default {
  background-color: white;
  border-color: white;
  border-radius: 0;
  letter-spacing: 3px;
}

.navbar-default
.navbar-brand {
  color: #363636;
  letter-spacing: 2.5px;
}

.navbar-default
.navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
  background-color: #FFF;
  color: #363636;
}

.navbar-default
.navbar-nav>.active>a:hover {
  color: #B2B2B2;
}

.navbar-default
.navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
  color: #B2B2B2;
}

.page-heading {
  padding: 200px 15px;
  text-align: center;
  color: #FFFFFF;

  letter-spacing: 8px;
  line-height: 1em;
}

.page-heading>h1 {
  font-size: 80px;
  font-weight: 300;
  text-transform: uppercase;
}

.well {
  background-color: #FFF;
  margin: 120px auto;
  max-width: 800px;

  padding: 60px 15px;
  margin-top: 120px;
  text-align: center;
}

.registry-link {
  font-size: 24px;
}

#logo {
  max-height: 100%;
  max-width: 95%;
  margin-top: -25px;
  margin-bottom: -25px;
}

.box-link {
  display: block;
  margin: 20px auto;
  padding: 10px;
  width: 120px;

  border: 2px solid black;
  color: #000000;

  text-decoration: none;
}

#highlighted-tab {
  background-color: #8EC2FF;
}

#infographic {
  max-height: 100%;
  max-width: 95%;
  margin-top: -25px;
  margin-bottom: -25px;
}

.album-thumb {
  max-height: 150px;
  max-width: 150px;

  border: 2px solid #363636;
  cursor: pointer;

  margin: 5px 3px;
}

.album-modal {
  max-height: 75%;
  max-width: 75%;
  margin-top: 15px;

  border: 5px solid #FFFFFF;
}

.caption {
  background-color: #FFFFFF;
  max-width: 75%;
  margin: 0 auto;
  padding: 10px;
}

.img-thumbnail {
    margin-top: 30px;
    margin-left: -100px;
    margin-right: -100px;
    border: none;
    border-radius: 0px;
    padding: 0px;
    cursor: pointer;
}

.party-modal {
  max-height: 75%;
  max-width: 75%;
  /*margin-top: 15px;*/

  border: 5px solid #FFFFFF;
}

@media only screen and (min-width : 768px) and (max-width: 992px) {
  .navbar-default
  .navbar-brand {
    color: #363636;
    letter-spacing: 1px;
  }

  .navbar-default .navbar-nav>li>a {
    margin-left: -10px;
  }
  #nav-mountain {
    display: none;
  }

  .page-heading>h1 {
    font-size: 60px;
    font-weight: 300;
    text-transform: uppercase;
  }
}

@media only screen and (max-width : 768px) {
  .page-heading>h1 {
    font-size: 30px;
    font-weight: 300;
    text-transform: uppercase;
  }
}
