<!DOCTYPE html>
<html>

  {% include head.html %}

  {% if page.bgimage %}
    <style>
        body {
            background-image: url({{ page.bgimage }});
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
    </style>
      {% endif %}

  <body>

    {% include header.html %}

    {{ content }}

    {% include footer.html %}

  </body>

</html>
